{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la HomePage!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur la page d'accueil </h1>

    <p>Weee-truck Ici et là </p>
    <p>On roule pour vous</p>
</div>
{% endblock %}
